body {
    background-color: #27262C;
    background-repeat: no-repeat;
    background-size: 13rem;
    background-position: center left;
    height: 100vh;

}

.App{
    height: 100vh;
    width: 100%;

}

